.spyproject/**
matlab/matlab_h5_examples/**
**/__pycache__/**
**/*.nc4
**/*.h5
**/*.npz
**/*.npy
**/*.docx
**/*.asv
**/*.gif
**/*.esf
**/*.exo
**/*.xlsx
**/*.mat
tests/reports/**
tests/.pytest_cache
**.egg**
.vscode/**
doc/_build/**
doc/api/**
doc/myst.yml
build/**
escdf.egg-info/**
report.xml
ci_artifacts/**
**/.ipynb_checkpoints/**
.coverage